@charset "utf-8";
/* 主页CSS设置 */
            .overall{background-image: linear-gradient(to bottom,#9FA5D5,#E8F5C8);/*主页方框总体样式*/
					 margin: auto;
					 border-style: none;
					 text-align: center;
					 font-family: "微软雅黑";
					 font-size: 25px;}
			 nav{background-color: #A1B2DB;/*导航栏样式*/
				 overflow: auto;}
			.hypertext{text-decoration: none;/*导航栏中超链接样式*/
					   font-family: "微软雅黑";
					   font-size: 25px;
					   float: left;
					   background-color: #A1B2DB;
					   color: #7B50D3;
					   padding: 15px;}
			.hypertext:hover{color: #9E5759}/*导航栏超链接放置鼠标变色*/
			.hypertext:active{color: #433C81}/*导航栏点击超链接变色*/
			.articleText{text-indent: 2em;/*主页文字样式*/
						 text-align: left;
					     line-height: 1.5;
						 letter-spacing: 1.5;
						 color: #75557E;}
			.webSection{text-align: center;/*主页下划部分样式*/
						font-family: "微软雅黑";}
			 footer{background-color: #AEE4EC;/*页脚样式*/
				   font-family: "微软雅黑";
				   text-align: center;
				   font-size: 15px}
			.button{float: right;/*“返回顶部”按钮样式*/
					width: 35px;
					height: 35px;
					padding: 5px;
					background-color: #9B74DB;}
			.buttonHypertext{text-decoration: none;/*“返回顶部”按钮超链接样式*/
							 text-align: center;
							 font-size: 18px;
							 color: #B85557;
							 cursor: n-resize;}
			.search{text-align: left;/*搜索框设置*/
					text-indent: 5px;}
			.searchButton{background-color: #D2E5F1;
						  cursor: pointer;}/*"SEARCH"按钮样式*/


